/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-family: 'Lucida Sans';
    /*background-image: url("../images/thumb-1920-601969.jpg");
    background-size: cover;
    color:ghostwhite;
    -webkit-text-stroke:medium black;*/
}

#myText {
    padding-bottom: 15px;
}

.form-horizontal .form-group {
    margin: 15px 0;
}

#picture {
    height: auto;
    width: auto;
    max-width: 20px;
    max-height: 20px;
}

.success {
    color: lightseagreen;
    padding-top: 20px;
    display: inline;
}

.help-block {
    color: darkgray;
}

.plateNumberResult {
    background-color: lightblue;
    padding: 5px;
}

.titlePicture {
    height: auto;
    width: auto;
    max-width: 40%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-height: 70px;
}

#homeImage {
    margin-left: auto;
    margin-right: auto;
    display: inline;
    padding-bottom:15px;
}

th, td {
    text-align: center;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 30px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

.uploadImageForm {
    display: inline;
    float: left;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}
